.info-box { background: #F2F2F2; border: 1px solid #CCCCCC; position: relative; left: -230px; padding: 0.1em 1em; margin-bottom: 1em; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.info-box .title { margin-top: 1em; }

.info-box.success { border-color: #E6DB55; background-color: #ffffe0; }
.info-box.error { border-color: #cc0000; background-color: #ffebe8; }

#laboratory_slideshow  { position: relative; }
#laboratory_slideshow .fl  { float: left; }
#laboratory_slideshow .fr  { float: right; }
#laboratory_slideshow .powered-by  { position: absolute; top: 12px; z-index: 1; right: 0; font-size: 11px; text-transform: uppercase; color: #afafaf; }
#laboratory_slideshow .powered-by img  { vertical-align: middle; margin: 0 0 0 10px!important; }

#screen-meta-links .screen-meta-toggle { z-index: 2; }