.laboratory_slideshow .slides > li { list-style: none; float: left; }
.laboratory_slideshow .slides img { border: 0; }
body .laboratory_slideshow.laboratory_slideshow-type-posts img, body .laboratory_slideshow.laboratory_slideshow-type-attachments img { border: 0; padding: 0; margin: 0; height: auto; }
body .laboratory_slideshow .slides, body .laboratory_slideshow .laboratory_slideshow-control-nav, body .laboratory_slideshow .laboratory_slideshow-direction-nav { padding: 0; margin: 0; }
body .laboratory_slideshow .laboratory_slideshow-control-nav li, body .laboratory_slideshow .laboratory_slideshow-direction-nav li { list-style: none; }

/* Layout styles for the "Posts" slideshow type. */

/* Text Left and Text Right Options */
.laboratory_slideshow .layout-text-left img { float: right; width: 40%; }
.laboratory_slideshow .layout-text-left .slide-excerpt { float: left; width: 50%; }

.laboratory_slideshow .layout-text-right img { float: left; width: 40%; }
.laboratory_slideshow .layout-text-right .slide-excerpt { float: right; width: 50%; }

/* Full overlay enabled */
.laboratory_slideshow .overlay-full  { position: relative; }
.laboratory_slideshow .overlay-full .slide-excerpt { background: #000; opacity: 0.8; color: #FFF; position: absolute; padding: 1em; }
.laboratory_slideshow .overlay-full .slide-excerpt .slide-title { color: #FFF; }
.laboratory_slideshow .overlay-full img { float: none; width: 100%; height: auto; }

body .laboratory_slideshow .overlay-full.layout-text-left .slide-excerpt { left: 0; top: 0; bottom: 0; width: 30%; padding: 1em; overflow: hidden; }
body .laboratory_slideshow .overlay-full.layout-text-right .slide-excerpt { right: 0; top: 0; bottom: 0; width: 30%; padding: 1em; overflow: hidden; }
body .laboratory_slideshow .overlay-full.layout-text-top .slide-excerpt { left: 0; right: 0; top: 0; height: auto; padding: 1em; overflow: hidden; }
body .laboratory_slideshow .overlay-full.layout-text-bottom .slide-excerpt { left: 0; right: 0; bottom: 0; height: auto; padding: 1em; overflow: hidden; }

/* Natural overlay enabled */
.laboratory_slideshow .overlay-natural  { position: relative; }
.laboratory_slideshow .overlay-natural .slide-excerpt { color: #FFF; position: absolute; float: left; padding: 0; }
.laboratory_slideshow .overlay-natural .slide-excerpt .slide-title { color: #FFF; background: #000; opacity: 0.8; float: left; padding: 0.5em 1em; margin: 0; }
.laboratory_slideshow .overlay-natural .slide-excerpt p { color: #FFF; background: #000; opacity: 0.8; float: left; padding: 0.5em 1em; }
.laboratory_slideshow .overlay-natural img { float: none; width: 100%; height: auto; }

body .laboratory_slideshow .overlay-natural.layout-text-left .slide-excerpt { left: 0; top: 10%; overflow: hidden; }
body .laboratory_slideshow .overlay-natural.layout-text-right .slide-excerpt { float: right; right: 0; top: 10%; overflow: hidden; }
body .laboratory_slideshow .overlay-natural.layout-text-right .slide-excerpt .slide-title, 
body .laboratory_slideshow .overlay-natural.layout-text-right .slide-excerpt p { float: right; }
body .laboratory_slideshow .overlay-natural.layout-text-top .slide-excerpt { left: 0; top: 0; overflow: hidden; }
body .laboratory_slideshow .overlay-natural.layout-text-bottom .slide-excerpt { left: 0; bottom: 0; overflow: hidden; }

/* "Slides" slideshow type */
body .laboratory_slideshow .slide-content { margin: 0.5em; padding: 0; border: 0; width: auto; height: auto; }

/* Slide widget */
.widget_laboratory_slideshow_slideshow_attachments .laboratory_slideshow-direction-nav a  { padding: 0; }

body .laboratory_slideshow.laboratory_slideshow-type-posts img, body .laboratory_slideshow.laboratory_slideshow-type-attachments img { max-width: 100%; border: none; }
body .laboratory_slideshow-control-nav { margin: 0; padding: 0; }
body .laboratory_slideshow-control-nav img { border: 0; background: none; margin: 0; padding: 0; }
body .laboratory_slideshow-direction-nav, body .laboratory_slideshow-direction-nav li { list-style: none; margin: 0; padding: 0; }
body .laboratory_slideshow.laboratory_slideshow-type-slides .has-featured-image img.featured-image { max-width: 100%; height: auto; }
body .laboratory_slideshow.laboratory_slideshow-type-slides img { max-width: 100%; }